#footer {
    position: relative;
    background: $red;
    padding: 44px 0 12px;

    a.footer-logo {
        display: block;
        width: 100%;
        max-width: 580px;
        margin: 0 auto;
    }

    a {
        color: #fff;

        &:hover,
        &:focus {
            color: $black;
        }
    }
} /* end #footer */
