/*
Site Header
---------------------------------------------------------------------------------------------------- */

/* Skip to content link */
.skip-content {
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: auto;
    padding: 0 5px;
    color: $mainColor;
    font-weight: bold;
    opacity: 0;

    &:focus {
        position: relative;
        z-index: 500;
        opacity: 1;
        margin-bottom: 10px;
        padding: 20px 0;
        font-size: 25px;
        text-align: center;
    }

    @media (max-width: $mobile-break) {
        &:focus {
            position: relative;
            top: 0;
            left: 0;
        }
    }
}

#header {
    position: relative;
    width: 100%;
    padding: 0 5%;
    display: block;
    background: $red;

    z-index: 9;

    @media screen and (max-width: $laptop-m) {
        display: none;
    }

    p.site-title {
        width: 170px;
        margin: 0;
        padding: 24px 0;
    }

    .primary-nav {
        padding: 0;
        position: absolute;
        bottom: 0;
        right: 5%;

        ul.sf-menu li.menu-item a {
            font-weight: 700;
            color: #fff;
            padding: 44px;
            position: relative;
            z-index: 1;
            margin-right: 24px;
            font-family: montserrat, sans-serif;

            &:hover,
            &:focus {
                background: #fff;
                color: $red;
            }
        }

        ul.sf-menu li.menu-item:last-of-type a {
            margin-right: -44px;
        }

        ul.sf-menu li.menu-item.current-menu-item a:before {
            width: 170px;
            width: 60%;
        }
    } /* end primary nav */

    .secondary-nav {
        position: absolute;
        top: 12px;
        right: 5%;
        display: flex;
        align-items: flex-end;

        .phone-number,
        li.menu-item a {
            margin-right: 44px;
        }

        li.menu-item:last-of-type a {
            margin-right: 0;
        }

        a {
            color: #fff;
            font-style: italic;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.65;

            &:hover,
            &:focus {
                color: #000;
            }
        }
    } /* end secondary nav */
} /* homepage header */

/* Title Area
--------------------------------------------- */
.site-title {
    margin-bottom: 0;
    float: none;

    a {
        display: block;
    }

    > span {
        position: absolute;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        width: 1px;
        margin: 0;
        padding: 0;
        border: 0;
    }

    @media (max-width: $second-break) {
        float: none;
        margin: auto;
    }
}

.header-info {
    float: right;

    > * {
        margin-bottom: auto;
    }

    @media (max-width: $second-break) {
        display: none;
    }
}

.header-title {
    background: $black;
    padding: 124px;

    @media screen and (max-width: $laptop-m) {
        padding: 196px 64px 124px;
    }

    @media screen and (max-width: $pre-ipad-break) {
        padding: 196px 5% 124px;
    }

    h1 {
        color: #fff;
        position: relative;
        margin-bottom: 64px;
        font-size: 18px;

        &:after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -24px;
            width: 55px;
            height: 10px;
            background: $red;
        }
    }

    p {
        color: #fff;
        font-size: 24px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    a {
        color: $red;
        text-decoration: underline;

        &:hover,
        &:focus {
            color: $offWhite;
        }
    }
}

body.scrolled {
    position: relative;

    #header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        transform: translateY(-182px);
        box-shadow: 0px 0px 10px grey;
        padding: 14px 32px;

        animation: slideDown 0.5s ease-in-out 1;
        animation-fill-mode: forwards;
    }

    #main {
        padding-top: 182px;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-182px);
    }

    100% {
        transform: translateY(0px);
    }
}
