/* Mobile Nav
---------------------------------------------------------------------------------------------------- */

.mobile-header {
    background-color: #fff;
    display: block;
    position: fixed;
    z-index: 110;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateY(-200px);

    transition: transform 0.5s ease-in-out;

    @media screen and (max-width: $laptop-m) {
        transform: translateY(0px);
    }

    &__top {
        background: $red;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 8px 24px;

        a {
            color: #fff;
            font-weight: 700;
            font-size: 16px;
            text-decoration: none;

            &:hover,
            &:focus {
                color: $red;
            }
        }

        .email {
            position: relative;
            margin-left: 12px;

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: -7px;
                width: 2px;
                height: 18px;
                transform: translateY(-50%);
                background: #fff;
            }
        }

        .social-links {
            margin-left: 12px;

            a {
                margin-left: 8px;
                font-size: 18px;
            }
        }
    }

    &__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
        position: relative;

        @media screen and (max-width: $laptop-m) {
            padding: 16px 24px;
        }

        &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 10px;
            background: linear-gradient(
                to bottom,
                #c4c4c4 0,
                rgba(255, 255, 255, 0) 95%,
                rgba(255, 255, 255, 0) 100%
            );
            opacity: 0.5;
            z-index: 101;
        }
    }

    &__logins-links-phone {
        margin: 0 0 0 auto;
        /* 
        @media screen and (max-width: $second-break) {
            display: none;
        }
         */

        a {
            color: $red;
            text-transform: uppercase;
            font-weight: 700;
            margin-left: 64px;
            position: relative;

            &.account {
                margin-left: 0;
            }

            &.account:after {
                content: '';
                width: 24px;
                height: 24px;
                position: absolute;
                top: 50%;
                right: -40px;
                transform: translateY(-50%);
                display: block;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }

            &.support:after {
                content: '';
                width: 24px;
                height: 24px;
                position: absolute;
                top: 50%;
                right: -40px;
                transform: translateY(-50%);
                display: block;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }

            &:hover,
            &:focus {
                color: $red;
            }
        }
    }

    &__logo {
        max-width: 300px;
        margin: 0;
        padding-left: 24px;

        @media screen and (max-width: $laptop-m) {
            padding-left: 0;
        }

        @media screen and (max-width: $mobile-small) {
            max-width: 220px;
        }

        @media screen and (max-width: $mobile-tiny) {
            max-width: 185px;
        }
    }

    &__button {
        margin-left: 32px;
        margin-bottom: 0;

        &__text {
            pointer-events: none;
        }
    }

    .product-button {
        background: $black;
        padding: 12px 24px;
        color: #fff;
        position: absolute;
        right: 92px;
        top: 50%;
        transform: translateY(-50%);

        &:hover,
        &:focus {
            background: $red;
        }

        @media screen and (max-width: $mobile-tiny) {
            padding: 8px 12px;
        }
    }

    #mobile-trigger {
        display: none;
        background: $red;
        border-radius: 0;
        width: 51px;
        height: 51px;
        overflow: hidden;
        color: transparent;
        padding: 0;
        position: relative;

        &:before {
            content: '';
            width: 26px;
            height: 3px;
            border-radius: 0;
            background: #fff;
            position: absolute;
            top: 16px;
            left: 50%;
            transform: translateX(-50%);
            clip-path: none;

            transition: all 0.3s ease-in-out;
        }

        &:after {
            content: '';
            width: 26px;
            height: 3px;
            border-radius: 0px;
            background: #fff;
            border: none;
            position: absolute;
            top: auto;
            bottom: 16px;
            left: 50%;
            transform: translateX(-50%);

            transition: all 0.3s ease-in-out;
        }

        &:hover,
        &:focus {
            background: $black;
        }

        @media screen and (max-width: $laptop-m) {
            display: inline-block;
        }

        .mobile-header__button__text {
            color: transparent;
            position: relative;
            max-width: 100%;
            width: 100%;
            display: block;

            transition: opacity 0.3s ease-in-out;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 26px;
                border-radius: 0px;
                background: #fff;
                height: 3px;
                transform: translate(-50%, -50%);
            }
        }
    }
}
.mobile-menu {
    background-color: $black;
    position: fixed;
    z-index: 201;
    top: 83px;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    //transition: transform 350ms ease;

    &__wrap {
        position: fixed;
        width: 100%;
        height: calc(100% - 72px);
        margin: 0;
        padding: 24px 24px 96px;
        overflow-x: hidden;
        overflow-y: auto;
        backface-visibility: hidden;

        /* Only for iOS */
        -webkit-overflow-scrolling: touch;
    }

    &__panel {
        position: relative;
        margin: 24px auto 124px;
    }

    &__list {
        margin-bottom: 0;
        /* 
        @media (min-width: $second-break) {
            &[data-level='3'] {
                //display: none;

                li a {
                    padding-left: 35px;
                    font-size: 14px;
                }
            }
        }
         */
    }

    // Primary navigation
    &-primary {
        &__parent {
            &__item {
                position: relative;
                display: inline-flex;
                vertical-align: bottom;
                width: 100%;
                flex-direction: column;

                &_link {
                    display: block;
                    width: 100%;
                    color: #fff;
                    font-size: 24px;
                    font-weight: 900;
                    text-transform: uppercase;
                    transition: transform 350ms
                        cubic-bezier(0.21, 0.66, 0.79, 1);
                }
            }

            &__toggle {
                background: transparent;
                display: none;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: -4px;
                right: 0;
                width: 50px;
                height: 50px;
                padding: 0;
                border: none;

                .mobile-menu-primary__toggle_icon {
                    background: transparent;
                    width: 20px;
                    height: 20px;
                    pointer-events: none;
                    background-image: url('assets/images/menu-arrow-white.svg');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;

                    &:hover,
                    &:focus {
                        background-image: url('assets/images/menu-arrow-white.svg');
                    }
                }
            }

            &__item + &__item {
                margin-top: 24px;
            }
        }

        // Child menu styling
        &__sub-menu {
            background-color: $red;
            //position: fixed;
            z-index: 1;
            top: 0;
            //left: 100%;
            //width: 100%;
            //height: 100%;
            position: relative;
            left: 0;
            width: 100%;
            height: auto;

            // Hide tertiary menu on desktop
            &[data-level='3'] {
                display: none;
            }

            &[aria-hidden='true'] {
                transition: left 450ms ease, visibility 50ms 450ms ease,
                    opacity 50ms 450ms ease;
            }

            &[aria-hidden='false'] {
                transition: left 450ms ease;
            }
            /*
            @media (min-width: $second-break) {
                position: relative;
                left: 0;
                width: 100%;
                height: auto;

                // Hide tertiary menu on desktop
                &[data-level='3'] {
                    display: none;
                }
            }
             
            @media (max-width: $second-break) {
                padding: 25px;

                &[aria-hidden='true'] {
                    opacity: 0;
                    pointer-events: none;
                    visibility: hidden;
                }

                &[aria-hidden='false'] {
                    left: 0;
                    visibility: visible;
                }
            }
             */

            &__item {
                position: relative;
                margin-left: auto;
                margin-right: auto;

                &_link {
                    display: block;
                    color: #fff;
                    text-decoration: none;
                    padding-top: 4px;
                    padding-bottom: 4px;
                    padding-left: 20px;
                    font-size: 18px;
                    font-weight: 400;

                    &:hover,
                    &:focus {
                        color: $red;
                    }

                    @media (min-width: $second-break) {
                        padding-left: 16px;
                    }
                }
            }

            &__item + &__item {
                margin-top: 6px;
            }

            &__close {
                position: relative;
                border-bottom: 1px solid #fff;
                margin: 0 auto 20px;
                padding-bottom: 20px;
                // padding-left: 40px;
                display: none;

                &_text {
                    color: #fff;
                    font-size: 20px;
                    font-weight: 900;
                    text-transform: uppercase;
                }
            }
        }

        // Set icon styling to be shared between parent & sub menu icons
        &__toggle {
            display: none;
        }
    }

    // Secondary navigation
    &-secondary {
        margin-top: 24px;
        &__parent {
            &__item {
                &_link {
                    font-size: 18px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }

            &__item + &__item {
                margin-top: 12px;
            }
        }
    }

    &--active {
        transform: translateX(0);
        transition: transform 550ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }
}

/* Mobile navigation bg overlay */
.navigation-overlay {
    background-color: #000;
    position: fixed;
    z-index: 105;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: opacity 450ms ease;

    body.nav-active & {
        opacity: 0.6;
        visibility: visible;
    }
}

.no-touch {
    pointer-events: none;
}

/* BGClubs additions */
.scrolled-desktop-nav {
    display: none;
}
body.nav-active #mobile-trigger {
    &:before {
        transform: translate(-50%, 7px) rotate(45deg);
    }

    &:after {
        transform: translate(-50%, -9px) rotate(-45deg);
    }

    .mobile-header__button__text {
        opacity: 0;
    }
}

#mobile-menu-primary .mobile-menu-primary__parent__item_link {
    color: #fff;
    position: relative;
    text-decoration: none;
    /* 
    @media screen and (max-width: $second-break) {
        padding-bottom: 0;
    }
     */

    &:after {
        content: '';
        position: absolute;
        bottom: -12px;
        left: 0;
        width: 100%;
        height: 2px;
        background: $red;
        opacity: 0.3;
        /* 
        @media screen and (max-width: $second-break) {
            display: none;
        }
         */
    }
}

ul.mobile-menu-primary__sub-menu
    li.mobile-menu__list-item
    a.mobile-menu__list-item_link {
    font-weight: 700;
}

#mobile-menu-secondary {
    padding-bottom: 64px;
}

#mobile-menu-secondary li.mobile-menu__list-item {
    margin-bottom: 24px;

    a.mobile-menu__list-item_link {
        color: $red;

        &:hover,
        &:focus {
            color: $red;
        }
    }
}

.mobile-menu--active {
    max-width: 400px;

    @media screen and (max-width: $mobile-break) {
        max-width: 100%;
    }
}

.button--back {
    background: transparent;
    border: none;
    box-shadow: none;
    display: block;
    width: 95%;
    padding: 0 0 0 36px;
    text-align: left;
    position: relative;

    .mobile-menu-primary__sub-menu__close_text {
        color: #fff;
    }

    &:before {
        content: '';
        position: absolute;
        top: 4px;
        left: 0;
        width: 20px;
        height: 20px;
        pointer-events: none;
        background-image: url('assets/images/menu-arrow-white.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transform: rotate(180deg);
    }

    &:after {
        content: '';
        position: absolute;
        bottom: -24px;
        left: 50%;
        width: 100%;
        height: 2px;
        background: $red;
        opacity: 0.3;
        transform: translateX(-50%);
    }
}
