/* Nav Primary
---------------------------------------------------------------------------------------------------- */
.primary-nav {
    display: inline-block;
    vertical-align: bottom;
    clear: right;
    padding-top: 26px;
}

/* Mobile Menu */
.slicknav_menu {
    display: none;
}
@media (max-width: $mobile-break) {
    #topnav {
        display: none;
    }
    .slicknav_menu {
        display: block;
    }
}

/* Mobile Nav
---------------------------------------------------------------------------------------------------- */
#mobilenavwrap {
    display: none;
    opacity: 0;
    z-index: -999;
    visibility: hidden;

    &.mobile-start {
        display: block;
        opacity: 1;
        z-index: 2;
        visibility: visible;
    }
}

#mobilenavwrap [aria-hidden='true'] {
    opacity: 0;
    z-index: -999;
    visibility: hidden;
}

#mobilenavwrap [aria-hidden='false'] {
    opacity: 1;
    z-index: 2;
    visibility: visible;
}

@media (max-width: $second-break) {
    .primary-nav {
        display: none;
    }

    #mobilenavwrap .button-wrap {
        background-color: #fff;
        display: block;
        position: fixed;
        z-index: 201;
        right: 0;
        clear: both;
        padding: 0px 3px 10px;
        text-align: right;
        transition: all 0.3s ease-in-out;
    }
    .nav-button {
        background: transparent;
        color: #000;
        border: none;

        .nav-button-text {
            position: relative;
            top: 5px;
            text-transform: uppercase;
            font-weight: bold;
        }

        .nav-button-icon,
        .nav-button-icon:before,
        .nav-button-icon:after {
            display: inline-block;
            position: relative;
            margin: 0 auto;
            height: 4px;
            width: 35px;
            background-color: #000;
            border-radius: 1px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        .nav-button-icon:before {
            position: absolute;
            content: '';
            left: 0;
            top: -9px;
        }
        .nav-button-icon:after {
            position: absolute;
            content: '';
            left: 0;
            bottom: -9px;
        }

        /* hamburger becomes an X */
        .nav-active .header-top-bar & {
            opacity: 0;
        }
        .nav-active & {
            color: #000;
            .nav-button-icon {
                background-color: transparent;
            }
            .nav-button-icon:before,
            .nav-button-icon:after {
                background-color: #000;
            }
            .nav-button-icon:before,
            .nav-button-icon:after {
                top: 0;
            }
            .nav-button-icon:before {
                transform: rotate(45deg);
            }
            .nav-button-icon:after {
                transform: rotate(-45deg);
            }
        }
    }
    .mobile-menu {
        position: fixed;
        z-index: 200;
        top: 0;
        bottom: 0;
        right: 0;
        margin: 0;
        padding: 0;
        width: 280px;
        height: 100%;
        list-style-type: none;
        background-color: #fff;
        transform: translateX(280px);
        transition: transform 0.3s ease-in-out;

        .menu-center {
            position: fixed;
            z-index: 100;
            width: 100%;
            height: 100%;
            margin: 0;
            bottom: 0;
            padding: 0;
            overflow-x: hidden;
            overflow-y: auto;
            backface-visibility: hidden;

            /* Only for iOS */
            -webkit-overflow-scrolling: touch;
        }

        #mobilenav {
            margin: 55px 0 0;
            padding: 0;
            list-style-type: none;
        }

        .nav-active & {
            transform: translateX(0);
            transition: transform 0.3s ease-in-out;
        }

        .menu-item {
            position: relative;
            list-style-type: none;
            padding: 0 12px 0;
        }

        a {
            display: block;
            padding: 16px 32px;
            color: #000;
        }

        /* Adjust width if containing dropdown */
        .dropdown-toggle a {
            margin-right: 40px;
        }

        button.toggle-dropdown {
            background-color: transparent;
            border: none;
            box-shadow: none;

            position: absolute;
            z-index: 10;
            display: block;
            top: 0;
            right: 0;
            width: 40px;
            height: 100%;
            max-height: 49px;
            color: #000;
            line-height: 40px;
            font-weight: 400;
            text-align: center;
            cursor: pointer;

            &:before {
                content: '+';
            }

            &:hover,
            &:focus {
                background-color: #000;
                color: #fff;
            }
        }

        a:hover,
        a:focus,
        .menu-item.current_page_item > a {
            color: #000;
        }

        .menu-item.opened,
        .menu-item.current_page_ancestor,
        .menu-item.current_page_item,
        .menu-item.current_page_parent,
        .menu-item.current-menu-parent,
        .menu-item.current-menu-ancestor {
            background-color: #fff;

            > a {
                color: #000;
            }

            button.toggle-dropdown {
                background-color: #000;
                color: #fff;
            }
        }

        .sub-menu {
            display: none;
            margin: 0 0 12px;
            padding: 0;
            background-color: #fff;

            a {
                font-size: 16px;
                color: #000;
            }

            a:hover,
            a:focus,
            .menu-item.current_page_item > a {
                color: #000;
            }
        }
    }
    #main,
    #footer {
        transition: transform 0.3s ease-in-out;
    }
    .nav-active #main,
    .nav-active #footer {
        transform: translateX(-280px);
    }
}

/* Mobile navigation bg overlay */
.navigation-overlay {
    background-color: #000;
    position: fixed;
    z-index: 105;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: opacity 450ms ease;

    body.nav-active & {
        opacity: 0.6;
        visibility: visible;
    }
}

/* Vertical Header styling
--------------------------------------------- */
body.vertical-header {
    /** 
	 * SASS variables setting column and body width
	 */
    $column: 18vw;
    $mob-column: 22vw;
    $body: 81vw;
    $mob-body: 78vw;

    /* Main wrapper */
    #main {
        position: relative;
        z-index: 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    /* Header */
    #header {
        background-color: #e5e5e5;
        float: left;
        width: $column;
        position: fixed;
        z-index: 500;
        top: 0;
        left: 0;
        height: 100%;
        padding: 25px;
        text-align: center;
        overflow: hidden;
    }

    /* Fix header container */
    #header .container {
        position: fixed;
        top: auto;
        left: 0;
        width: $column;
        height: 100%;
        padding: 0 25px;
    }

    /* Make logo full-width */
    #header img {
        width: 100%;
    }

    /* Content body */
    .primary_content_wrap {
        position: relative;
        z-index: 1;
        float: left;
        width: $body;
        margin-left: $column;
    }

    /* Footer */
    #footer {
        padding-left: $column;
    }

    /* Adjust container width/padding to account for narrower container space */
    .primary_content_wrap,
    #footer {
        .container {
            width: 100%;
            padding: 0 135px;
        }

        @media (max-width: $first-break) {
            .container {
                width: 100%;
                padding: 0 75px;
            }
        }

        @media (max-width: $mobile-break) {
            .container {
                padding: 0 5%;
            }
        }
    }

    /* Navigation Menu */
    .primary-nav {
        float: none;
        text-align: center;

        .sf-menu,
        .sf-menu li {
            float: none;
        }

        .sf-menu li,
        .sf-menu a {
            display: inline-block;
            width: 100%;
        }

        .sub-menu {
            position: relative;
        }
    }

    @media (max-width: $first-break) {
        #header,
        #header .container {
            width: $mob-column;
        }

        .primary_content_wrap {
            width: $mob-body;
            margin-left: $mob-column;
        }

        #footer {
            padding-left: $mob-column;
        }
    }

    @media (max-width: $second-break) {
        #header {
            position: relative;
            width: 100%;
            height: auto;
            padding: 25px 0;
        }

        #header img {
            width: auto;
        }

        #header .container,
        .primary_content_wrap {
            position: relative;
            width: 100%;
            margin: auto;
            padding: 0;
        }

        #footer {
            padding-left: inherit;
        }
    }
}

/* Fixed Nav styling
--------------------------------------------- */
body.fixed-header {
    #header {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 0;
    }

    h1.site-title {
        margin: auto;

        img {
            max-width: 250px;
        }
    }

    /* Adjust margin to match height of header */
    .primary_content_wrap {
        margin-top: 121px;
    }

    @media (max-width: $second-break) {
        .primary_content_wrap {
            margin-top: inherit;
        }
    }
}
