button.button,
button.content-limiter-expander,
input[type='button'],
input[type='reset'],
input[type='submit'],
.button {
    width: auto;
    color: #000;
    background: transparent;
    cursor: pointer;
    box-shadow: none;
    transform-style: preserve-3d;
    position: relative;
    color: #000;
    text-transform: uppercase;
    border: solid 2px $red;
    display: inline-block;
    padding: 8px 32px;
    font-family: montserrat, sans-serif;
    backface-visibility: hidden;

    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;

    &:before {
        content: '';
        position: absolute;
        top: 0px;
        left: -24px;
        width: 44px;
        height: 100%;
        background-image: url('assets/images/button-arrow-red.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        backface-visibility: hidden;
        display: block;

        transition: background 0.3s ease-in-out;
    }

    &:hover,
    &:focus {
        background: $red;
        color: #fff;

        &:before {
            background-image: url('assets/images/button-arrow-white.svg');
        }
    }
}

.button {
    display: inline-block;
    margin-bottom: 24px; /* match p margin-bottom inside typography.scss */
}

.center-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.centered-button {
    text-align: center;
}

/* Hide button mobile text on desktops */
.mobile-text {
    display: none;

    @media (max-width: $mobile-break) {
        display: block;
    }
}

/* Hide button desktop text on mobile */
.mobile-text + .text-wrap {
    @media (max-width: $mobile-break) {
        display: none;
    }
}
