/* Set your primary colors here */
$color-background: #fff;
$red: #e40019;
$blue: #0000ff;
$black: #000;
$offWhite: #e5e5e5;

/* Make sure to set this*/
$mainColor: $red;

/* typical text color */
$textColor: #282828;

/* color when ya highlight something with the mouse */
$selectionColor: #333333;

/* simple a and a:hover */
$linkColor: $red;
$linkHover: black;
