// hide non-keyboard focus styles
.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $mainColor;
    margin: 8px 0 10px;
    padding: 0;
}

// hide non-keyboard focus styles
.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}
/* Adjust padding to match spacing of design */
$padding: 56px;
$mob-padding: 32px;
$spacing: 32px;
$mob-spacing: 24px;

/* Spacing classes to be used with advanced-layout */
.double-top-padding {
    padding-top: 124px;

    @media screen and (max-width: $laptop-m) {
        padding-top: 64px;
    }
}
.double-top-margin {
    margin-top: $padding;

    @media screen and (max-width: $mobile-break) {
        margin-top: $mob-padding;
    }
}
.single-top-padding {
    padding-top: 32px;
}
.double-bot-padding {
    padding-bottom: 124px;

    @media screen and (max-width: $laptop-m) {
        padding-bottom: 64px;
    }
}
.double-bot-margin {
    margin-bottom: $padding;

    @media screen and (max-width: $mobile-break) {
        margin-bottom: $mob-padding;
    }
}
.single-bot-padding {
    padding-bottom: 32px;
}
.double-padding {
    padding-top: $padding;
    padding-bottom: $padding;

    @media screen and (max-width: $mobile-break) {
        padding-top: $mob-padding;
        padding-bottom: $mob-padding;
    }
}
.double-margin {
    margin-top: $padding;
    margin-bottom: $padding;

    @media screen and (max-width: $mobile-break) {
        margin-top: $mob-padding;
        margin-bottom: $mob-padding;
    }
}
.single-padding {
    padding-top: $mob-padding;
    padding-bottom: $mob-padding;

    @media screen and (max-width: $mobile-break) {
        padding-top: $mob-padding/2;
        padding-bottom: $mob-padding/2;
    }
}
.no-top-padding {
    padding-top: 1px;
}
.no-bot-padding {
    padding-bottom: 1px;
}
.no-padding {
    padding: 1px 0;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $mainColor;
    margin: 8px 0 10px;
    padding: 0;
}

.section-wrap.row-reverse .columns__wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    @media screen and (max-width: $mobile-break) {
        display: block;
    }

    .column {
        margin-left: 0;
    }
}

.section-wrap.standard-layout a:not(.button) {
    font-style: italic;
    text-decoration: underline;
    font-weight: 400;
}

@media screen and (max-width: $laptop-m) {
    #main {
        padding-top: 124px;
    }

    body.not-home #main {
        padding-top: 109px;
    }
}

.fade-in-able {
    opacity: 0;
    transform: translateY(48px);

    &.scrolled {
        animation: fadeInUp 1s ease-in-out;
        animation-fill-mode: forwards;
    }

    @media screen and (max-width: $second-break) {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(48px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
