/* Media Query Sizes 
$XXL : 2600px;
$extra-large: 1600px;
$special-break : 1500px;
$laptop-l: 1440px;
$laptop-m: 1366px;
$laptop-s: 1279px;
$first-break: 1152px;
$second-break: 1023px;
$pre-ipad-break: 860px;
$ipad-break: 768px;
$mobile-break: 767px;
$mobile-med: 642px;
$mobile-small: 479px;
$mobile-tiny: 390px; 

http://www.w3schools.com/tags/ref_pxtoemconversion.asp
*/

$xx-large: 162.5em;
$extra-large: 100em;
$special-break: 93.75em;
$laptop-l: 90em;
$laptop-m: 85.375em;
$laptop-s: 79.9375em;
$first-break: 72em;
$second-break: 63.9375em;
$pre-ipad-break: 53.75em;
$ipad-break: 48em;
$mobile-break: 47.9375em;
$mobile-med: 40.125em;
$mobile-small: 29.9375em;
$mobile-tiny: 24.375em;
