/* Typographical Basics
--------------------------------------------- */

html {
    font-size: 62.5%; /* 10px browser default */
}
body {
    background-color: $color-background;
    color: $textColor;
    font-family: 'Open Sans', sans-serif;
    font-family: montserrat, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.45;

    @media (max-width: $second-break) {
        font-size: 20px;
    }
    @media (max-width: $mobile-break) {
        font-size: 19px;
    }
    @media (max-width: $mobile-med) {
        font-size: 18px;
    }
    @media (max-width: $mobile-small) {
        font-size: 16px;
        line-height: 1.5;
    }

    &.nav-active {
        overflow: hidden;
    }
}

p + h2,
ul + h2,
ol + h2 {
    margin-top: 48px;
    @media (max-width: $second-break) {
        margin-top: 42px;
    }
    @media (max-width: $mobile-break) {
        margin-top: 38px;
    }
    @media (max-width: $mobile-med) {
        margin-top: 36px;
    }
    @media (max-width: $mobile-small) {
        margin-top: 32px;
    }
}

p + h3,
ul + h3,
ol + h3 {
    margin-top: 32px;
    @media (max-width: $second-break) {
        margin-top: 30px;
    }
    @media (max-width: $mobile-break) {
        margin-top: 28px;
    }
    @media (max-width: $mobile-med) {
        margin-top: 26px;
    }
    @media (max-width: $mobile-small) {
        margin-top: 24px;
    }
}

/* Headings
--------------------------------------------- */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: anton, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    margin: 0 0 16px;

    @media (max-width: $mobile-med) {
        margin: 0 0 14px;
    }
    @media (max-width: $mobile-small) {
        margin: 0 0 12px;
    }
}
h1,
.h1 {
    font-size: 54px;
    @media (max-width: $mobile-med) {
        font-size: 42px;
    }
    @media (max-width: $mobile-small) {
        font-size: 36px;
    }
}
h2,
.h2 {
    font-size: 40px;
    @media (max-width: $mobile-med) {
        font-size: 32px;
    }
    @media (max-width: $mobile-small) {
        font-size: 26px;
    }
}
h3,
.h3 {
    font-family: montserrat, sans-serif;
    font-size: 24px;
    font-weight: 700;
}
h4,
.h4 {
    font-family: montserrat, sans-serif;
    font-size: 20px;
    font-weight: 700;
}
h5,
.h5 {
    font-family: montserrat, sans-serif;
    font-size: 18px;
    font-weight: 700;
}
h6,
.h6 {
    font-family: montserrat, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

// Header title
.header-title {
    text-align: center;
}

/* Typographical Basics +
--------------------------------------------- */

a {
    color: $linkColor;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $linkHover;
    }

    img {
        vertical-align: bottom;
    }
}

p {
    margin: 0 0 24px;
    padding: 0;
    @media (max-width: $second-break) {
        margin-bottom: 22px;
    }
    @media (max-width: $mobile-break) {
        margin-bottom: 20px;
    }
    @media (max-width: $mobile-med) {
        margin-bottom: 19px;
    }
    @media (max-width: $mobile-small) {
        margin-bottom: 18px;
    }
}

strong {
    font-weight: 700;
}

blockquote {
    margin: 40px 40px 24px;
}

.entry-content code {
    background-color: #cbcbcb;
    color: #000;
}

cite {
    font-style: normal;
}

/* Selection colours */
::selection {
    background: $selectionColor;
    color: #fff;
}
::-moz-selection {
    background: $selectionColor;
    color: #fff;
}

img::selection {
    background: transparent;
}
img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $selectionColor;
}

/* Typographical Transitions
--------------------------------------------- */

a,
button,
input:focus,
input[type='button'],
input[type='reset'],
input[type='submit'],
textarea:focus,
.button {
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}
