section.associations-memberships {
    position: relative;

    .logos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 32px;

        @media screen and (max-width: $mobile-small) {
            justify-content: center;
            padding: 0 5%;
        }

        @media screen and (max-width: $laptop-s) {
            flex-wrap: wrap;
        }

        .box {
            padding: 0 24px;

            @media screen and (max-width: $laptop-s) {
                width: 20%;
            }

            @media screen and (max-width: $mobile-break) {
                width: 32%;
            }

            @media screen and (max-width: $mobile-small) {
                width: 48%;
                padding: 16px;
            }
        }
    }
}
