section.content-background-image {
    position: relative;

    .inner {
        padding: 0 5%;

        @media screen and (max-width: $mobile-break) {
            padding: 0;
        }
    }

    .image-content {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @media screen and (max-width: $laptop-s) {
            padding: 64px;
        }

        @media screen and (max-width: $mobile-break) {
            padding: 64px 0;
        }
    }

    .content {
        max-width: 1080px;
        display: block;
        margin: 0 auto;
        padding: 96px;
        position: relative;
        z-index: 1;

        @media screen and (max-width: $laptop-s) {
            max-width: 100%;
        }

        @media screen and (max-width: $mobile-break) {
            padding: 64px;
        }

        @media screen and (max-width: $mobile-med) {
            padding: 64px 5%;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fff;
            opacity: 0.9;
            z-index: -1;
        }

        p:last-of-type {
            margin-bottom: 0;

            .button {
                margin: 12px auto 0;
            }
        }

        a:not(.button) {
            font-weight: 700;
        }
    }

    .button-wrap {
        text-align: center;
        padding-top: 44px;

        .button {
            margin: 0;
        }
    }
} /*  */
