.section-wrap.descriptive-icons {
    position: relative;

    h2 {
        text-align: center;
        margin-bottom: 64px;
    }

    .inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media screen and (max-width: $pre-ipad-break) {
            display: block;
        }

        .icon-cell {
            width: 47%;
            margin-bottom: 64px;

            @media screen and (max-width: $pre-ipad-break) {
                width: 100%;
            }

            .icon-title {
                display: flex;

                @media screen and (max-width: $pre-ipad-break) {
                    display: block;
                }

                .icon {
                    width: 50px;

                    @media screen and (max-width: $pre-ipad-break) {
                        margin: 0 0 48px;
                        position: relative;

                        &:after {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: -32px;
                            width: 52px;
                            height: 10px;
                            background: $red;
                        }
                    }

                    img {
                        display: block;
                        width: 100%;
                        min-width: 50px;
                    }
                }

                .title {
                    margin: 0 0 24px 24px;

                    @media screen and (max-width: $pre-ipad-break) {
                        margin: 0 0 24px;
                    }

                    h3 {
                        font-weight: 400;
                        font-size: 32px;
                        position: relative;

                        &:after {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: -16px;
                            width: 52px;
                            height: 10px;
                            background: $red;

                            @media screen and (max-width: $pre-ipad-break) {
                                display: none;
                            }
                        }
                    }
                }
            }

            .description {
                padding-left: 76px;

                @media screen and (max-width: $pre-ipad-break) {
                    padding-left: 0px;
                }

                a {
                    text-decoration: underline;
                }
            }
        }
    }
}
