section.section-wrap.standard-callout {
    position: relative;

    .standard-callout__content {
        padding: 64px;
        border: solid 2px $red;
        text-align: center;

        @media screen and (max-width: $mobile-med) {
            padding: 48px;
        }

        h3,
        h2 {
            font-family: montserrat, sans-serif;
            font-size: 32px;
            font-weight: 700;

            &:last-of-type {
                margin: 0;
            }
        }

        a {
            font-style: italic;
            text-decoration: underline;

            &:hover,
            &:focus {
                color: $darkGrey;
            }
        }
    }
}
