.section-wrap.content-image-pair {
    position: relative;

    .inner {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;

        @media screen and (max-width: $pre-ipad-break) {
            flex-direction: initial;
            flex-wrap: wrap;
        }

        .image-cell {
            position: relative;
            width: 45%;

            @media screen and (max-width: $pre-ipad-break) {
                width: 100%;
                margin-left: 32px;
            }

            @media screen and (max-width: $mobile-small) {
                margin-left: 0;
            }

            &:before {
                content: '';
                background-image: url('assets/images/grey-rectangle.svg');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                top: 20px;
                width: 150px;
                height: 310px;
                left: -32px;
                z-index: -1;

                @media screen and (max-width: $mobile-small) {
                    height: 100%;
                }
            }
        }

        .content-cell {
            width: 50%;

            @media screen and (max-width: $pre-ipad-break) {
                width: 100%;
                margin-bottom: 32px;
            }
        }
    }
}
