section.square-circle {
    position: relative;

    .inner {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $pre-ipad-break) {
            display: block;
        }

        .square {
            width: 50%;
            position: relative;
            padding: 64px 64px 0;

            @media screen and (max-width: $pre-ipad-break) {
                width: 100%;
                margin-bottom: 64px;
                padding-right: 0;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 225px;
                height: 225px;
                background: $offWhite;
                z-index: -1;
            }

            h3 {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 16px;
                    left: -80px;
                    width: 70px;
                    height: 70px;
                    background-image: url('assets/images/red-rectangle.svg');
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    transform: rotate(80deg);
                }
            }
        }

        .circle {
            width: 50%;
            position: relative;
            padding: 64px 64px 0;

            @media screen and (max-width: $pre-ipad-break) {
                width: 100%;
                padding-right: 0;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 225px;
                height: 225px;
                background: $offWhite;
                border-radius: 50%;
                z-index: -1;
            }

            h3 {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 16px;
                    left: -80px;
                    width: 70px;
                    height: 70px;
                    background-image: url('assets/images/red-rectangle.svg');
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    transform: rotate(80deg);
                }
            }
        }
    }
}
