section.section-wrap.standard-callout {
    position: relative;

    @media screen and (max-width: $second-break) {
        background: $black;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: $black;
    }

    .standard-callout__content {
        position: relative;
        padding: 124px;
        background: $black;
        color: #fff;
        z-index: 1;

        @media screen and (max-width: $mobile-break) {
            padding: 96px 64px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 115px;
            height: 100%;
            background: #fff;
            z-index: 2;

            @media screen and (max-width: $second-break) {
                display: none;
            }
        }

        &:after {
            content: '';
            background-image: url('assets/images/red-rectangle.svg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 230px;
            height: 250px;
            z-index: 3;

            @media screen and (max-width: $second-break) {
                display: none;
            }
        }

        h2,
        h3,
        p {
            color: #fff;
        }

        a {
            text-decoration: underline;
        }

        a:hover,
        a:focus {
            color: $offWhite;
        }
    }
}
